#wrapper { display: grid; 
                   grid-template-areas: 'logo logo'
        'menu right' 'bottom bottom';
            grid-gap: 5px; 
            background-color: #ccffff;
           color: #000066;
           width: 90%;
		   margin: auto;
           min-width:850px; }
header{ grid-area: logo; text-align: center; background-color: #a3a3c2;}
/*header h1 {background-color: gold;}*/
main{ grid-area: right; background-color: #ccffff; width: auto;}
main p{background-color: ghostwhite;border: 1px solid #80bfff;}
body{font-size: 3em; text-align: center;}
nav{grid-area: menu; border-right: 5px solid #80bfff; text-align: center; width: 350px}
nav ul {list-style-type: none;display: block; padding-top: 5px; padding-bottom: 5px; padding-left: 15px; align-items:center;}
nav li{border:5px solid gold; border-radius: 5px; padding-top: 10px; padding-bottom: 10px; text-align:center; display: inline-block;align-content: space-between 10px;font-size:.75em; width: 250px;}
nav a{display: block; padding: 15px; padding-bottom: 10px; padding-top: 10px; text-decoration:none; color: #000033; }
footer{grid-area: bottom; background-color: #ccffff; text-align: center; font-size: 1em; border-top: 2px solid #80bfff;}
footer ul{list-style-type: none; position: inherit;}
footer li{font-size: .5em; display:inline-block;}
